@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

.instagramHeadingImage {
  background-image: url("../../../assets/background-img.png");
  background-position-x: 0.01rem;
  background-position-y: -8rem;
  width: 11.25rem;
  height: 3.35rem;
  object-fit: contain;
}

.or-transition::before {
  content: "";
  border-bottom: 1px solid rgb(203 213 225);
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 0.625rem;
}
.or-transition::after {
  content: "";
  border-bottom: 1px solid rgb(203 213 225);
  flex: 1;
  margin-left: 1rem;
  margin-bottom: 0.6255rem;
}

.Login {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.Login-container,
.signup-container {
  border: 1px solid rgb(203 213 225);
  width: 22rem;
  min-width: 18rem;
}

.signup-container {
  padding: 0.5rem 1rem;
}

.Login-container {
  padding: 1rem 2rem 1rem 2rem;
  aspect-ratio: 3.5/4;
}

.Login-input {
  outline: none;
  border: none;
  background-color: rgb(247, 247, 247);
  width: 100%;
}

.Login-input-container {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  border: 1px solid #d3d3d3;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(247, 247, 247);
  border-radius: 0.125rem;
}

.Login-show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  background-color: rgb(247, 247, 247);
  border-radius: 0.125rem;
  margin-bottom: 0.5rem;
}

.Login-animate-opacity {
  animation: Login-animate-opacity 1s ease-in-out forwards;
}

.authPlaceholder {
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
  width: 15%;
  color: rgb(107 114 128);
  height: 0.325rem;
  animation: Login-animate-font 0.1s ease-in-out forwards;
}

@keyframes Login-animate-font {
  0% {
    font-size: 0.75rem;
  }
  100% {
    font-size: 0.625rem;
  }
}

@media (max-width: 450px) {
  .Login-container,
  .signup-container {
    border: none;
  }

  .signup-container {
    padding: 0;
  }

  .Login-container {
    padding-bottom: 0;
  }

  .Login {
    margin: 0;
  }
}
