.ResetPassword-header h1 {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  color: black;
}

.ResetPassword-header {
  min-width: 1000px;
}

.ResetPassword-main {
  display: grid;
  place-content: center;
}

.ResetPassword-container {
  border: 1px solid rgb(203, 213, 225);
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.75rem;
  max-width: 24rem;
  height: 33rem;
  margin-bottom: 5rem;
  border-radius: 4px;
}

@media (min-width: 1015px) {
  .follow-effect {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .ResetPassword-container {
    border: none;
  }
}
