.cookies-modal-container {
  max-width: 34rem;
  max-height: 30rem;
  line-height: 18px;
  min-width: 22rem;
}

.meatball-menu {
  top: 0rem;
  right: 0.75rem;
}

.p-after::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.Accordion-heading:hover {
  cursor: pointer;
}

.Accordion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Accordion-header {
  font-weight: 500;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.Accordion-item {
  padding: 0.325rem 0;
}

.rotate-chevron-icon {
  transform: rotate(180deg);
}

.about-cookies-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0.5rem;
  row-gap: 1rem;
}

@media (max-width: 550px) {
  .about-cookies-card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
  }
}

@media (max-width: 575px) {
  .cookies-underlay {
    padding: 0 1rem;
  }
}
