@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: disc;
}

.border-bottom {
  border-bottom: 1px solid black;
}

p {
  line-height: 1.5;
}

/* UTILITY CLASSES */

.aspect-ratio-2by3 {
  aspect-ratio: 2/3;
}
